<div class="container">
  <div id="pdfTable" #pdfTable>
    <h2>Angular HTML </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="color:aqua;">Firstname</th>
          <th>Lastname</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hardik</td>
          <td>Savani</td>
          <td>itsolutionstuff.com</td>
        </tr>
        <tr>
          <td>Vimal</td>
          <td>Kashiyani</td>
          <td>hdtuto.com</td>
        </tr>
        <tr>
          <td>Harshad</td>
          <td>Pathak</td>
          <td>nicesnippets.com</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="border: 1cm;">Firstname</th>
            <th>Lastname</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hardik</td>
            <td>Savani</td>
            <td>itsolutionstuff.com</td>
          </tr>
          <tr>
            <td>Vimal</td>
            <td>Kashiyani</td>
            <td>hdtuto.com</td>
          </tr>
          <tr>
            <td>Harshad</td>
            <td>Pathak</td>
            <td>nicesnippets.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="canvas_div_pdf">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="border: 1cm;">Firstname</th>
            <th>Lastname</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hardik</td>
            <td>Savani</td>
            <td>itsolutionstuff.com</td>
          </tr>
          <tr>
            <td>Vimal</td>
            <td>Kashiyani</td>
            <td>hdtuto.com</td>
          </tr>
          <tr>
            <td>Harshad</td>
            <td>Pathak</td>
            <td>nicesnippets.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="canvas_div_pdf">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="border: 1cm;">Firstname</th>
            <th>Lastname</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hardik</td>
            <td>Savani</td>
            <td>itsolutionstuff.com</td>
          </tr>
          <tr>
            <td>Vimal</td>
            <td>Kashiyani</td>
            <td>hdtuto.com</td>
          </tr>
          <tr>
            <td>Harshad</td>
            <td>Pathak</td>
            <td>nicesnippets.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="canvas_div_pdf">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="border: 1cm;">NEW PAGE</th>
            <th>Lastname</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hardik</td>
            <td>Savani</td>
            <td>itsolutionstuff.com</td>
          </tr>
          <tr>
            <td>Vimal</td>
            <td>Kashiyani</td>
            <td>hdtuto.com</td>
          </tr>
          <tr>
            <td>Harshad</td>
            <td>Pathak</td>
            <td>nicesnippets.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="canvas_div_pdf">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="color: red;">Another new page</th>
            <th>Lastname</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hardik</td>
            <td>Savani</td>
            <td>itsolutionstuff.com</td>
          </tr>
          <tr>
            <td>Vimal</td>
            <td>Kashiyani</td>
            <td>hdtuto.com</td>
          </tr>
          <tr>
            <td>Harshad</td>
            <td>Pathak</td>
            <td>nicesnippets.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="border: 1cm;">Firstname</th>
            <th>Lastname</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hardik</td>
            <td>Savani</td>
            <td>itsolutionstuff.com</td>
          </tr>
          <tr>
            <td>Vimal</td>
            <td>Kashiyani</td>
            <td>hdtuto.com</td>
          </tr>
          <tr>
            <td>Harshad</td>
            <td>Pathak</td>
            <td>nicesnippets.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="border: 1cm;">Firstname</th>
            <th>Lastname</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hardik</td>
            <td>Savani</td>
            <td>itsolutionstuff.com</td>
          </tr>
          <tr>
            <td>Vimal</td>
            <td>Kashiyani</td>
            <td>hdtuto.com</td>
          </tr>
          <tr>
            <td>Harshad</td>
            <td>Pathak</td>
            <td>nicesnippets.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="border: 1cm;">Firstname</th>
            <th>Lastname</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hardik</td>
            <td>Savani</td>
            <td>itsolutionstuff.com</td>
          </tr>
          <tr>
            <td>Vimal</td>
            <td>Kashiyani</td>
            <td>hdtuto.com</td>
          </tr>
          <tr>
            <td>Harshad</td>
            <td>Pathak</td>
            <td>nicesnippets.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>
</div>